body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.top {
    display: flex;
    color: black;
    background-color: #FFF5E1;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.thit {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  border: solid 5px red;
}

.computer {
    height: 300px;
    border: solid 5px red;
}
footer {
    text-align: center;
}
#me {
    width: 150px;
}
